body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    margin-left: 15px;
    margin-bottom: 30px;
}

ul, li {
    margin: 0px;
}

ul {
    padding-left: 20px;
}

a:hover {
    color: red;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 300px;
}

td, th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 7px 7px;
    border: solid 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
}

td {
    background-color: #fff;
}

th {
    font-weight: normal;
    background-color: #f0f0f0;
}

table .cell {
    vertical-align: top
}
